
#contenedor{
	/*border: 1px solid yellow;*/
	height: 500px;
	width: 600px;
	display: flex;
	align-items: center;
}
#cartelDetalleDeError{
	/*border: 1px dotted green;*/
    height: 90%;
    width: 90%;
    margin:auto;
    border-radius: 15px;
}
.recomendacion{
	/*border: 1px solid purple;*/
	margin-top: 20px;
	margin-left: -15px;
}