<!DOCTYPE html>
<html>

<head>
    <title>Desafio Pokemon</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
</head>
<script type="text/javascript" src="script.js"></script>

<body onload="funcionesDeInicio()">
    <div id="conteneder">
        <div id="infoPokemon">
            <div id="pokemonImgDiv">
                <img src="../../../assets/images/bolbasaur.png">
            </div>
            <div id="datosPokemon">
                <div id="nombresDedatosPokemon">
                    <div id="nombre" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">NOMBRE</span>
                    </div>
                    <div id="entrenador" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">ENTRENADOR</span>
                    </div>
                    <div id="tipoDePokemon" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">TIPO DE POKEMON</span>
                    </div>
                    <div id="evolucion" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">EVOLUCION</span>
                    </div>
                </div>
                <div id="valoresDeDatos">
                    <div id="nombre" class="valorDatoPokemon">
                        <span class="textoDatoPokemon">NOMBRE</span>
                    </div>
                    <div id="entrenador" class="valorDatoPokemon">
                        <span class="textoDatoPokemon">ENTRENADOR</span>
                    </div>
                    <div id="tipoDePokemon" class="valorDatoPokemon">
                        <span class="textoDatoPokemon">TIPO DE POKEMON</span>
                    </div>
                    <div id="evolucion" class="valorDatoPokemon">
                        <span class="textoDatoPokemon">EVOLUCION</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="estadisticas">
            <div id="marcoEstadisticaVida" class="marcoEstadistica">
            </div>
            <div id="estadisticaVida" class="estadistica">
            </div>
        </div>
    </div>
</body>

</html>