<!DOCTYPE html>
<html>

<head>
    <title>Desafio Pokemon</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
</head>
<script type="text/javascript" src="script.js"></script>

<body onload="funcionesDeInicio()">
    <div id="contenedor">
        <div id="infoPokemon">
            <div id="pokemonImgDiv">
                <img src="../../../assets/images/bolbasaur.png">
            </div>
            <div id="datosPokemon">
                <div id="nombresDedatosPokemon">
                    <div id="nombreNombreDeDato" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">NOMBRE</span>
                    </div>
                    <div id="entrenadorNombreDeDato" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">ENTRENADOR</span>
                    </div>
                    <div id="tipoDePokemonNombreDeDato" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">TIPO DE POKEMON</span>
                    </div>
                    <div id="evolucionNombreDeDato" class="datoPokemon">
                        <span class="textoNombreDatoPokemon">EVOLUCION</span>
                    </div>
                </div>
                <div id="valoresDeDatos">
                    <div id="nombre" class="valorDatoPokemon">
                       
                    </div>
                    <div id="entrenador" class="valorDatoPokemon">
                       
                    </div>
                    <div id="tipoDePokemon" class="valorDatoPokemon">
                       
                    </div>
                    <div id="evolucion" class="valorDatoPokemon">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="separador">
        </div>
        <div class="separador">
        </div>
        <div id="estadisticas">
            <div id="vida" class="marcoEstadistica">
                <div class="nombreDeEstadistica">
                    VIDA
                </div>
                <div id="valorVida" class="valorNumericoEstadistica">
                    
                </div>
                <div id="barraEstadisticaVida" class="barraEstadistica">
                    <div id="estadisticaVidaIncial" class="estadisticaInicial">
                    </div>
                    <div id="estadisticaVidaPorEntrenamiento" class="estadisiticaPorEntrenamiento">
                    </div>
                </div>
            </div>
            <div id="vida" class="marcoEstadistica">
                <div class="nombreDeEstadistica">
                    ENERGIA
                </div>
                <div id="valorEnergia" class="valorNumericoEstadistica">
                    
                </div>
                <div id="barraEstadisticaVida" class="barraEstadistica">
                    <div id="estadisticaVidaIncial" class="estadisticaInicial">
                    </div>
                    <div id="estadisticaVidaPorEntrenamiento" class="estadisiticaPorEntrenamiento">
                    </div>
                </div>
            </div>
            <div id="vida" class="marcoEstadistica">
                <div class="nombreDeEstadistica">
                    FUERZA
                </div>
                <div  id="valorFuerza" class="valorNumericoEstadistica">
                    
                </div>
                <div id="barraEstadisticaVida" class="barraEstadistica">
                    <div id="estadisticaVidaIncial" class="estadisticaInicial">
                    </div>
                    <div id="estadisticaVidaPorEntrenamiento" class="estadisiticaPorEntrenamiento">
                    </div>
                </div>
            </div>
            <div id="vida" class="marcoEstadistica">
                <div class="nombreDeEstadistica">
                    DEFENSA
                </div>
                <div id="valorDefensa" class="valorNumericoEstadistica">
                    
                </div>
                <div id="barraEstadisticaVida" class="barraEstadistica">
                    <div id="estadisticaVidaIncial" class="estadisticaInicial">
                    </div>
                    <div id="estadisticaVidaPorEntrenamiento" class="estadisiticaPorEntrenamiento">
                    </div>
                </div>
            </div>
            <div id="vida" class="marcoEstadistica">
                <div class="nombreDeEstadistica">
                    VELOCIDAD
                </div>
                <div id="valorVelocidad" class="valorNumericoEstadistica">

                </div>
                <div id="barraEstadisticaVida" class="barraEstadistica">
                    <div id="estadisticaVidaIncial" class="estadisticaInicial">
                    </div>
                    <div id="estadisticaVidaPorEntrenamiento" class="estadisiticaPorEntrenamiento">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>