#infoPokemon{
/*	border: 2px solid red;*/
	height: 262px;
	margin-top: 15px;
	display: flex;
}
#estadisticas{
/*	border: 2px solid #44546A;*/
	margin-top:20px;
	height: 270px
}
.separador{
	height: 2px;
	margin-top: 4px;
	margin-bottom: 3px;
	background-color: black
}
#pokemonImgDiv{
	/*border: 2px solid yellow;*/
	width: 250px;
	height:250px;
	margin-left:10px;
	margin-top: 30px;
}
#pokemonImgDiv img{
	height: 90%;
	width: 90%
}
#datosPokemon{
/*	border: 5px solid;*/
	color:red;
	width: 525px;
	margin-left: 15px;
	margin-top: 20px;
	display: flex;
}
#nombresDedatosPokemon{
	/*border: 2px solid;*/
	color:brown;
}
.datoPokemon{
	border: 2px dotted #7e1e9c;
	background-color: white;
	margin-top:15px;
	width:200px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.textoNombreDatoPokemon{
	/*border: 1px solid;*/
	background-color: white;
	height: 30px;
	color: #44546A;
	font-family: Lucida Console;
	font-size: 18px;
	font-weight:bold ;
	width: 190px;
	display: flex;
	justify-content: center;
	align-items: center;	  
}
#valoresDeDatos{
/*	border: 2px solid;*/
	border-color: pink;
	width: 100vw
}
.valorDatoPokemon{
	border: 2px dotted #00B0F0;
	background-color: white;
	margin-top:15px;
	margin-left: 15px;
	width: 300px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.textoDatoPokemon{
	background-color: white;
	height: 30px;
	color: #44546A;
	font-family: Lucida Console;
	font-size: 18px;
	font-weight:bold ;
	width: 290px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.marcoEstadistica{
	border:1px dotted  green;
	height: 40px;
	margin-top: 14px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius:15px;
	display: flex;
	align-items: center
}
.barraEstadistica{
/*	border: 1px solid #44546A;*/
	width: 550px;
	height: 20px;
	margin-left: 5px;
	display: flex;
	border-radius:15px;
}
.nombreDeEstadistica{
/*	border: 2px solid purple;*/
	margin-left: 10px;
	width: 100px;
	color: #44546A;
	font-family: Lucida Console;
	font-size: 16px;
	font-weight:600 ;
	display: flex;
	justify-content: left;
	align-items: center

}
.estadisticaInicial{
	/*border: 1px solid yellow;*/
	height: 101%;
	margin-top: 0.2px;
	margin-left: -0.4px;
	background-color: #006400;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.estadisiticaPorEntrenamiento{
	border: 1px solid green;
	background-color: palegreen;
	height: 101%;
	margin-top: 0.2px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center; 	
}
.valorNumericoEstadistica{
/*	border: 1px solid black; */
	width: 65px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: right;
	font-family: Lucida Console;
	font-size: 16px;
	font-weight:bold;
}
.valorAtributoDentroDeBarra{
	color:palegreen;
	font-weight: bold
}
.valorAtributoDentroDeBarraModificada{
	color:#006400;
	font-weight: bold
}