<!DOCTYPE html>
<html>

<head>
    <title>Desafio Pokemon</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
</head>
<script type="text/javascript" src="script.js"></script>

<body onload="funcionesDeInicio()">
    <div id="container">
        <div id="elementos">
            <div id="formRutaPokemon" class="form-group">
                <input id="inputRuta" type="text">
            </div>
            <div id="tickGuardadoCorrecto">
                <img src="../../../assets/images/tick verde.png">
            </div>
            <div id="botones">
                <div id="botonAtras">
                    <button type="button" class="btn btn-info" onclick="ocultarConfiguracion()"> ATRAS</button>
                </div>
                <div id="botonGuardar">
                    <button type="button" class="btn btn-success" onclick="guardarRutaPokemon()"> GUARDAR</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>