#contenedor{
	/*border: 10px solid black;*/
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width: 820px;
	overflow: hidden;
}
#imagenDeFondo img{
	height: 30%;
	width: 30%;
	margin-left: 37px;
}
#imagenDeFondo{
	border: 1px solid;
	background-color: #FFF6EC;
	display: flex;
	align-items: center;
}
#contenedorEvaluaciones::-webkit-scrollbar{
    width: 10px;
    background-color: #FFA84B;
    display: flex;
    align-items: center;
    justify-content: center;

}
#contenedorEvaluaciones::-webkit-scrollbar-thumb{
    /*border:1px solid black;*/
    background-color: #E97902;
    border-radius: 15px;
}
#contenedorEvaluaciones{
	/*border: 1px solid purple;*/
	height: 370px;
	background-color: #FFF6EC;
	overflow-y: auto;
}
.separador{
	height: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: black
}
.contenedorEvaluacion{
	/*border:1px solid black;*/
	position: relative;
	display: flex;
	height: 52px
}
.evaluaciones{
    border: 1px dotted green;
    border-radius: 15px;
	margin-top: 15px;
	margin-left: 40px;
	width: 70%;
	background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mensajeEvaluacion{
	/*border:2px solid blue;*/
	margin-bottom: 0px;
	margin-left: 10px;
}
.resultadoEvaluacion{
	/*border: 1px solid;*/
	margin-left: 30px;
	margin-top: 18px;
	height: 50px;
	width: 10%;
}
.resultadoEvaluacion img{
	height: 60%;
	width: 45%
}
.botonDetalleError{
    /*border: 1px solid black;*/
    background-color: #FF851B;
    position: absolute;
    height: 18px;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.botonDetalleError:hover{
    /*border: 2px solid black;*/
    background-color: #FFC189;
}
#cuadroResumen{
	/*border: 2px solid blue;*/
	height: 160px;
	width: 495px;
	margin-left: 20px;
	display: flex;
	align-items: center;
}
#resultados{
	/*border: 2px solid green;*/
	height: 160px;
	width: 340px;
}
#botonEvaluarDiv{
	/*border: 2px solid yellow;*/
	height: 160px;
	width: 140px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
#botonEvaluar{
	height: 50px;
	width: 100px;
}
#resultadoPostivo{
	/*border: 2px solid green;*/
	height: 40px;
	width: 360px;
	margin-top: 30px;
	font-weight: bold;
	color:green;
	font-size: x-large;
	display: flex;
	align-items: center;	
}
#resultadoPostivo img{
	/*border:2px solid black;*/
	height: 30px;
	width: 30px
}
#resultadoNegativo{
	/*border: 2px solid green;*/
	height: 40px;
	width: 360px;
	margin-top: 20px;
	font-weight: bold;
	color: red;
	font-size: x-large;
	display: flex;
	align-items: center; 	

}
#resultadoNegativo img{
	/*border:2px solid black;*/
	height: 30px;
	width: 30px;
	margin-left: 18px
}