<!DOCTYPE html>
<html>

<head>
    <title>Desafio Pokemon</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="../utils/generic styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
</head>
<script type="text/javascript" src="script.js"></script>

<body onload="funcionesDeInicio()">
    <div id="contenedor">
        <audio id="sonidoRecuperarEnergia" src="../../../assets/audio/recuperar energia.wav"> </audio>
        <audio id="sonidoVictoria" src="../../../assets/audio/sonido victoria.wav"> </audio>
        <audio id="sonidoDerrota" src="../../../assets/audio/sonido derrota.mp3"> </audio>
        <audio id="sonidoEsquivo" src="../../../assets/audio/sonido esquivo.mp3"> </audio>
        <div id="iconoMusicaDeBatalla">
            <img id="musicaDeBatallaImg" src="../../../assets/images/audio on.png" type="image/png" onclick="cambiarEstadoMusicaDeBatalla()">
        </div>
        <audio id="musicaDeBatalla" src="../../../assets/audio/Musica de batalla2.wav"> </audio>
        <div id="cartelDesafio">
            <img type="image/png" src="../../../assets/images/cartel desafio.png">
        </div>
        <div>
            <div id="cartelFinDeBatalla">
            </div>
        </div>
        <div id="personajes">
            <audio id="sonidoDesmayo" src="../../../assets/audio/desmayo.wav"> </audio>
            <div id="personajeIzquierdo" class="personaje">
                <audio id="sonidoAtaqueIzquierdo" src="../../../assets/audio/fighting-impact-punch.wav"> </audio>
                <div id="iconoDesmayoIzquierdo" class="iconoDesmayo">
                    <img type="image/png" src="../../../assets/images/pokemon desmayado.png">
                </div>
                <span class="bordeBarraVitalidad">
                    <div id="barraVitalidadPersonajeIzquierdo" class="barraVitalidad">
                        <img type="image/png" src="../../../assets/images/corazon verde.png">
                    </div>
                    <div id="valorVitalidadPersonajeIzquierdo" class="barraVitalidad">
                    </div>
                </span>
                <span class="bordeBarraEnergia">
                    <div id="barraEnergiaPersonajeIzquierdo" class="barraVitalidad">
                        <img type="image/png" src="../../../assets/images/rayo azul.png">
                    </div>
                    <div id="valorEnergiaPersonajeIzquierdo" class="barraVitalidad"></div>
                </span>
                <div id="estadisticasPersonajeIzquierdo" class="recuadroEstadisticasPersonajes">
                </div>
                <div id="vidaConsumidaIzquierdo" class="recursoConsumido vidaConsumida"></div>
                <div id="luzDeRecuperacionDeEnergiaIzquierda" class="luzDeRecuperacionDeEnergia">
                    <img type="image/png" src="../../../assets/images/aura energia.png">
                </div>
            </div>
            <div id="botoneraIzquierda" class="botonera">
                <div id="botoneraDeAtaques">
                    <button onclick="atacarAlDerecho('basico')" id="botonIzquierdoAtacarbasico" class="btn btn-secondary">
                        BASICO
                    </button>
                    <button onclick="atacarAlDerecho('medio')" id="botonIzquierdoAtacarmedio" class="btn btn-success">
                        MEDIO
                    </button>
                    <button onclick="atacarAlDerecho('fuerte')" id="botonIzquierdoAtacarfuerte" class="btn btn-warning">
                        FUERTE
                    </button>
                    <button onclick="atacarAlDerecho('maximo')" id="botonIzquierdoAtacarmaximo" class="btn btn-danger">
                        MAXIMO
                    </button>
                </div>
                <div id="botonAtaqueEspecial">
                    <button onclick="atacarAlDerecho('especial')" id="botonIzquierdoAtacarespecial" class="btn btn-dark">
                        ESPECIAL
                    </button>
                </div>
                <div id="botoneraDefensa">
                    <button id="defensaBaja" class="defensa" onclick="seleccionarDefensaPersonajeIzquierdo('Baja')">
                        <img type="image/png" src="../../../assets/images/escudos defensa/defensa baja.png">
                    </button>
                    <button id="defensaMedia" class="defensa" onclick="seleccionarDefensaPersonajeIzquierdo('Media')">
                        <img type="image/png" src="../../../assets/images/escudos defensa/defensa media.png">
                    </button>
                    <button id="defensaAlta" class="defensa" onclick="seleccionarDefensaPersonajeIzquierdo('Alta')">
                        <img type="image/png" src="../../../assets/images/escudos defensa/defensa alta.png">
                    </button>
                </div>
                <div id="botoneraRecuperarEnergia">
                    <button onclick="recuperarEnergiaIzquierdo()" id="botonIzquierdoRecuperar" class="btn btn-info">
                        RECUPERAR ENERGIA
                    </button>
                </div>
            </div>
            <div id="personajeDerecho" class="personaje">
                <audio id="sonidoAtaqueDerecho" src="../../../assets/audio/whippyhit.wav"> </audio>
                <div id="iconoDesmayoDerecho" class="iconoDesmayo">
                    <img type="image/png" src="../../../assets/images/pokemon desmayado.png">
                </div>
                <span class="bordeBarraVitalidad">
                    <div id="barraVitalidadPersonajeDerecho" class="barraVitalidad">
                        <img type="image/png" src="../../../assets/images/corazon verde.png">
                    </div>
                    <div id="valorVitalidadPersonajeDerecho" class="barraVitalidad">
                    </div>
                </span>
                <span class="bordeBarraEnergia">
                    <div id="barraEnergiaPersonajeDerecho" class="barraVitalidad">
                        <img type="image/png" src="../../../assets/images/rayo azul.png">
                    </div>
                    <div id="valorEnergiaPersonajeDerecho" class="barraVitalidad"></div>
                </span>
                <div id="vidaConsumidaDerecho" class="recursoConsumido vidaConsumida"></div>
                <div id="luzDeRecuperacionDeEnergiaDerecho" class="luzDeRecuperacionDeEnergia">
                    <img type="image/png" src="../../../assets/images/aura energia.png">
                </div>
                <div id="estadisticasPersonajeDerecho" class="recuadroEstadisticasPersonajes">
                </div>
            </div>
            <div id="anuncios"></div>
        </div>
</body>

</html>