#contenedor {}
#entrenamientosGrid {
    /*border: 1px solid black;*/
    margin-top:20px;
    display: grid;
    height: 100%;
    grid-template-columns: 33% 33% 33%;
}

.entrenamiento {
    border: 4px double purple;
    background-color: white;
    height: 250px;
    margin: 10px;
    opacity: 1;
    border-radius: 15px;
    justify-content: center;
}

.tituloEntrenamientoDiv {
    /*border: 2px solid black;*/
    height: 10%;
    justify-content: center;
    margin-bottom: 2%;
}

.tituloEntrenamiento {
    /*border: 1px solid brown;*/
    height: 100%;
    text-align: center;
    text-decoration: double underline green;
}

.premiosEntrenamientoGrid {
    /*border: 1px dotted blue;*/
    height: 20%;
    display: grid;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    grid-template-columns: 50% 50%;
}

.premioEntrenamiento{
    /*border: 1px solid pink;*/
    height: 40%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 15px;
    margin-bottom: 5%;
    background-color: #228B22;
}

.tituloPremioDiv {
    /*border: 1px solid #228B22;*/
    height: 10%;
    font-weight: bold
}

.tituloPremio {
    /*border: 1px solid black;*/
    text-align: center;
    color:white;
}

.valorPremioDiv {
    /*border: 1px solid magenta;*/
    height: 65%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valorPremio {
    /*border: 1px solid orange;*/
    text-align: center;
    font-size: x-large;
    margin-top:10%;
    color: white;
}

.descripcionEntrenamientoDiv {
    border: 1px dotted green;
    height: 45%;
    width: 96%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcionEntrenamiento {
    /*border: 2px solid black;*/
    width: 96%;
    position: absolute;
    top:0px;
    height: 95%;
    text-align: center;
}

.botonEntrenamientoDiv {
    /*border: 2px solid gold;*/
    display: flex;
    height: 15%;
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
    justify-content: center;
}
.cartelEntrenamientoExitoso{
    /*border:1px solid blue;*/
    background-color: #28B62C;
    width: 90%;
    opacity: 0;
    height: 25%;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 15px;
    z-index: 3
}
#cartelEntrenamientoFallido{
    /*border: 2px solid black*/
}
.botonDetalleError{
    background-color: #FF851B;
    position: absolute;
    height: 20px;
    border-radius: 3px;
    right: 8px;
    top:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.botonDetalleError:hover{
    background-color: #FFC189;
}