body::-webkit-scrollbar{
    width: 10px;
    background-color: #add8e6
}
body::-webkit-scrollbar-thumb{
    background-color: #3ca2c3;
    border-radius: 15px;
}
body{
	border: 10px solid #d8ecf3;
}
#contenedor{
	margin-top: 0px;
	border:1px solid #d8ecf3;
	background-color: #d8ecf3;
}
#tituloDeSelector{
	height: 120px;
}
#enemigosGrid{
	margin-top:30px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%
}
.nombreDePokemon{
	border: 4px solid blue;
}
.enemigo{
	border: 4px double purple;
	/*background-color: white;*/
	height: 117px;
	margin:10px;
	opacity: 1;
	border-radius: 15px;
}
.enemigoRestringido{
	background-color: grey;
	opacity: 0.8; 
}
.proximoEnemigo{
	background-color: white
}
.proximoEnemigo:hover{
	background-color: purple
}
.pokemonDerrotado{
	background-color: #ABEBC6;
	opacity: 0.8; 
}
.imagenEnemigo{
	max-width:120px; 
	max-height: 80px;
	width: auto;
	height: auto;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}