<!DOCTYPE html>
<html>

<head>
    <title>Desafio Pokemon</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="../utils/generic styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
</head>
<script type="text/javascript" src="script.js"></script>

<body onload="funcionesDeInicio()">
    <div id="contenedor">
        <div id="iconoMusicaDeBatalla">
            <img id="musicaDeBatallaImg" src="../../../assets/images/audio on.png" type="image/png" onclick="cambiarEstadoMusicaDeBatalla()">
        </div>
        <audio id="musicaDeBatalla" src="../../../assets/audio/Musica de fondo cep largo.wav"> </audio>
        <div id="botonesCentrales">
            <div id="botonMiPokemonDiv">
                <button id="botonMiPokemon" type="button" class="btn btn-outline-secondary divDeBoton" onclick="abrirModalMiPokemon()">MI POKEMON</button>
            </div>
            <div id="botonBatallaDiv">
                <button id="botonBatalla" type="button" class="btn btn-outline-info divDeBoton" onclick="abrirModalSelectorDeEnemigo()"> CENTRO DE BATALLAS </button>
            </div>
            <div id="botonJuezDeBatallaDiv">
                <button id="botonJuezDeBatalla" type="button" class="btn btn-outline-danger divDeBoton" onclick="abrirModalDeJuezDeBatalla()"> JUEZ DE BATALLA </button>
            </div>
            <div id="botonCentroDeEntrenamientoDiv">
                <button id="botonCentroDeEntrenamiento" type="button" class="btn btn-outline-warning divDeBoton" onclick="abrirModalCentroDeEntrenamiento()">ENTRENAMIENTO</button>
            </div>
            <div id="botonConfiguracionDiv">
                <button id="botonConfiguracion" type="button" class="btn btn-outline-success divDeBoton" onclick="abrirModalConfiguracion()">CONFIGURACION</button>
            </div>
        </div>
    </div>
</body>

</html>