body {
	background: url("../../../assets/images/pokemons principales.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contenedor {
    /*border: 2px solid;*/
    border-color: purple;
    height: 100vh;
    display: flex
}

#botonesCentrales {
    /*border: 2px solid;*/
    border-color: black;
    position: absolute;
    left: 140px;
    top:80px;
    /*margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;*/
    width: 222px
}

#botonConfiguracionDiv {
    /*border: 2px solid;*/
    width: 220px;
    border-color: gold;
    margin-left: auto;
    margin-right: auto;
}

#botonConfiguracionDiv button{    
    width: 220px;
    margin-top: 15px;
}

#botonBatallaDiv{
    /*border: 2px solid;*/
    width: 222px;
    border-color: orange;
    margin-left: auto;
    margin-right: auto;
}

#botonBatallaDiv button {
    width: 220px;
    margin-top: 20px
}
#botonJuezDeBatallaDiv{
    /*border: 2px solid;*/
    width: 222px;
    border-color: orange;
    margin-left: auto;
    margin-right: auto;
}

#botonJuezDeBatallaDiv button {
    width: 220px;
    margin-top: 20px
}
#iconoMusicaDeBatalla img{
  position: absolute;
  top:10px;
  left: 15px;
  height:8%;
  width: 5%;
  opacity: 100%;
}