body {
    background: url("../../../assets/images/pokemons principales.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#contenedor {
   /* border: 2px solid;*/
    border-color: purple;
    height: 100vh;
    display: flex
}

#botonesCentrales {
    /*border: 2px solid;*/
    border-color: white;
    position: absolute;
    height: 230px;
    left: 140px;
    top: 80px;
    width: 222px
}

.divDeBoton{
   /* border: 2px solid;*/
    width: 220px;
    border-color: gold;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 15px;
}
#iconoMusicaDeBatalla img {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 8%;
    width: 5%;
    opacity: 100%;
}