<!DOCTYPE html>
<html>

<head>
    <title>Desafio Pokemon</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="../utils/generic styles.css">

</head>
<script type="text/javascript" src="script.js"></script>

<body onload="funcionesDeInicio()">
    <audio id="pitidoArbitro" src="../../../assets/audio/pitido arbitro.wav"></audio>
    <div id="contenedor">
        <div id="imagenDeFondo">
            <img src="../../../assets/images/juez de batalla.png">
        </div>
        <div class="separador">
        </div>
        <div class="separador">
        </div>
        <div id="contenedorEvaluaciones">
        </div>
    </div>
</body>

</html>