#contenedor{
	border:1px solid #d8ecf3;
	background-color: #d8ecf3;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: #add8e6
}
body::-webkit-scrollbar-thumb{
    background-color: #3ca2c3;
    border-radius: 15px;
}
#tituloDeSelector{
	height: 120px;
}
#enemigosGrid{
	margin-top:30px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%
}

.enemigo{
	border: 4px double purple;
	background-color: white;
	height: 117px;
	margin:10px;
	opacity: 1;
	border-radius: 15px;
}
.enemigo:hover{
	background-color: purple
}
.pokemonDerrotado{
	border: 4px double purple;
	background-color: grey;
	height: 117px;
	margin:10px;
	opacity: 1;
	border-radius: 15px;
	opacity: 0.8; 
}
.imagenEnemigo{
	max-width:120px; 
	max-height: 80px;
	width: auto;
	height: auto;
}