#tituloDeSelector{
	height: 120px;
}
#enemigosGrid{
	margin-top:30px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%
}

.enemigo{
	border: 4px double purple;
	background-color: white;
	height: 117px;
	margin:10px;
	opacity: 1;
	border-radius: 15px;
}
.enemigo:hover{
	background-color: purple
}
.pokemonDerrotado{
	border: 4px double purple;
	background-color: grey;
	height: 117px;
	margin:10px;
	opacity: 1;
	border-radius: 15px;
	opacity: 0.3; 
}
.imagenEnemigo{
	max-width:120px; 
	max-height: 80px;
	width: auto;
	height: auto;
}